<% if current_user %>
  <div class="page-header">
    <h1>Hi <%= current_user.name %></h1>
    <%= image_tag current_user.image_url %>
  </div>
  <%= link_to "Followers", user_followers_path(current_user) %>
<% end %>
